{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-12 mx-5 mt-3">
        <a class="btn btn-outline-secondary" href="{% url 'index' %}">Volver</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-12 mx-md-auto mb-3 pb-2 mx-3">
        <h1>{{ object.titulo }}</h1>
        <p class="text-muted">{{ object.fecha }}</p>
        <p class="text-muted">Publicado por {{ object.autor.username }}</p>
        <div>
            {{ object.contenido|safe }}
        </div>

    </div>
</div>
<div class="row my-3">
    <div class="col-md-6 col-12 mx-md-auto mx-3">
        {% if object.likes == 1 %}
            <p>a {{ object.likes.count }} personas les gusta este Post</p>
        {% else %}
            <p>a {{object.likes.count }} personas no les gusta este Post</p>
        {% endif %}

        {% if request.user.is_authenticated %}
        {% if liked_by_user %}
            <form method="POST" action="{% url 'like_articulo' object.id %}">
                {% csrf_token %}
            <button class="btn btn-outline-primary">No me Gusta</button>
        </form>
            {% else%}
            <form method="POST" action="{% url 'like_articulo' object.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-primary">Me Gusta</button>
            </form>
            {% endif%}
        {% else %}
        <button class="btn btn-outline-primary" disabled>Inicie sesión para comentar este post</button>
        {% endif %}
    </div>
</div>
{% endblock content %}