{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
        <h1 class="fw-bolder">Blog Final</h1>
        <h5 class="text-muted">Un Blog sobre IA</h5>
    </div>
</div>
{% for object in object_list %}
<div class="row">
    <div class="col-md-6 col-12 mx-md-auto mx3 mt-5 mb-5">
        <h3 class="fw-bold">{{ object.titulo }}</h3>
        <p class="text-muted">{{ object.fecha }}</p>
        <p class="text-muted">Posteado por {{ object.autor.username }}</p>
        {% if object.likes == 1 %}
            <p class="text-muted">a {{ object.likes.count }} personas les gusta este Post</p>
        {% else %}
            <p class="text-muted">a {{object.likes.count }} personas no les gusta este Post</p>
        {% endif %}

        <div class="my-3">
            {{ object.contenido|truncatewords_html:50|safe }}
        </div>

        <a href="{% url 'detalle_articulo' object.id %}">Mostrar mas</a>
    </div>
</div>
{% endfor %}
<nav>
    <ul class="pagination">
        <div class="mx-auto d-flex flex-row mt-5">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; Primera</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="#">Pagina {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number }}">Siguiente</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Ultima &raquo;</a>
                </li>
            {% endif %}
        </div>
    </ul>
</nav>
{% endblock content %}